.custom_form {
  width: 100%;
  margin-top: 100px;
  left: 0;
  background-attachment: fixed;
  background-image: url("../../../assets/007.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.el-shape {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
}

.shape-bottom {
  bottom: -1px;
  transform: rotate(180deg);
}

.shape-bottom svg {
  height: 100px;
  transform: translateX(-50%) rotateY(180deg);
  display: block;
  width: calc(100% + 1.3px);
  position: relative;
  left: 50%;
}

.shape-top svg {
  display: block;
  width: calc(100% + 1.3px);
  position: relative;
  left: 50%;
}

.custom_form > .shape-top svg {
  height: 100px;
  transform: translateX(-50%) rotateY(180deg);
}

.shape-fill {
  fill: #fff;
  transform-origin: center;
  transform: rotateY(0deg);
}

.background-overlay-custom-form {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 66, 116, 0.45);
}

form input {
  display: block;
  width: 100%;
  margin: 1.2rem 0;
  padding: 8px;
  border: 1px solid lightgrey;
}
