.hover-effect-img::before {
  opacity: 1;
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.2s;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.hover-effect-img:hover:before {
  opacity: 1;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 3px;
  position: relative;
  height: 100%;
  width: 100%;
}
