.transBtn {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #fff;
    font-size: 14px;
    font-family: "Roboto Condensed", sans-serif;
    padding: 15px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .listingBtn {
    background-color: #00aeef;
    color: #fff;
    font-size: 14px;
    font-family: "Roboto Condensed", sans-serif;
    padding: 15px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
  }

  @media only screen and (max-width: 600px) {
    .transBtn {
      background-color: #00aeef;
      color: #fff;
      font-size: 12px;
      font-family: "Roboto Condensed", sans-serif;
      padding: 15px 10px;
      border-radius: 4px;
      cursor: pointer;
      margin-left: 10px;
      border: none;
    }
  }
  